* {
    font-family: "BwNistaInt-xBd"; 
}

.grid {
    display: grid;
    grid-template-rows: 1% 3fr 2fr 2fr 2fr;
    height: 100%;
    color: black;

}

/*.nav {
    text-align: center;
    font-size: 30px;
    background-color: brown;
    color: white;
    width: 100%;
}*/

.nav{
    top:0;
    width: 100%;
    border-collapse: collapse;
    position: fixed;
}

td {
    height: 60px;
    text-align: center;
    background-color: blueviolet;
}

.box {
    border: 2px blue solid;
}

td>a {
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: purple;
}

.a {
    width: 100%;
    height: 100%;
    padding: 0px;
    background-image: url("images/code1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
}

img {
    float: left;
    position: relative;
    top: 50px;
    width: 300px;
    height: 350px;
    margin-right: 20px;
    border-radius: 200px;
}

/*.bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    height: 110%;
    width: 98%;
    padding-bottom: 50px;
    margin: 0px;
    text-align: center;
}*/

@media only screen and (max-width :950px){
    
}

.a>p{
    padding-bottom: 0px;
    padding-top:100px;
    padding-left: 300px;
    font-size: 100px;
}

.b{
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgb(226, 220, 220);
    font-weight: bold;
    color: black;
}

.c {
    background-color: #4612cc;
}

.bar {
    color:white;
    background-color: blueviolet;
    height: 20px;
    width: 60%;
    border-radius: 20px;
    text-align: center;
}

.js, .python, .html, .css{
    margin-left: 0px;
    background-color: purple;
    height: 100%;
    border-radius: 20px;
}

.js {
    width: 50%;
}

.python {
    width: 80%;
}

.html {
    width: 90%;
}

.css {
    width: 60%;
}
